body {
  font-family: Roboto, Raleway;
  color: #434455;
  background-color: #fff;
}
a {
  text-decoration: none;
}

.header-nav {
}
.logo-web {
}
.logo-studio {
}
.header-main {
}
.nav-item {
}
.adress {
}
.adress-link {
}
.header {
}
.header-content {
}
.button {
}
.advantages {
}
.title-advantages {
}
.advantages-content {
}
.personal {
}
.title-team {
}
.personal-list {
}
.personal-name {
}
.personal-role {
}
.portfolio {
}
.portfolio-title {
}
.portfolio-content {
}
.portfolio-list {
}
.portfolio-class {
}
.footer {
}
.footer-content {
}
